In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('personality_traits_datection_dataset.tsv', delimiter = '/t', quoting = 2,error_bad_lines=False)

Skipping line 10: Expected 1 fields in line 10, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 85: Expected 1 fields in line 85, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 335: Expected 1 fields in line 335, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 731: Expected 1 fields in line 731, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 798: Expected 1 fields in line 798, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 859: Expected 1 fields in line 859, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 1693: Expected 1 fields in line 1693, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 1818: Expected 1 fields in line 1818, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 1820: Expected 1 fields in line 1820, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 1965: Expected 1 fields in line 1965, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 2216: Expected 1 fields in line 2216, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 2225: Expected 1 fields in line 2225, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 2261: Expected 1 fields in line 2261, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 2283: Expected 1 fields in line 2283, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 2332: Expected 1 fields in line 2332, saw 2. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [4]:
len(dataset)

2452

In [5]:
for i,k in enumerate(dataset.keys()):
    print(str(i)+" : "+k)

0 : #AUTHID	TEXT	cEXT	cNEU	cAGR	cCON	cOPN

In [6]:
new_key = "combined_keys"
old_key = "#AUTHID	TEXT	cEXT	cNEU	cAGR	cCON	cOPN"
dataset[new_key] = dataset.pop(old_key)

In [7]:
for i,k in enumerate(dataset.keys()):
    print(str(i)+" : "+k)

0 : combined_keys

In [8]:
column_names = ["id", "Review", "Extroversion", "Neuroticism", "Agreeableness" , "Conscientiousness" , "Openness"]
df = pd.DataFrame(columns = column_names) #create empty dataframe df

for i in range(len(dataset)):
    row = temp = dataset['combined_keys'][i]
    row = row.split('\t')

    if(row[2]=='y'):
        row[2]=1
    if(row[3]=='y'):
        row[3]=1
    if(row[4]=='y'):
        row[4]=1
    if(row[5]=='y'):
        row[5]=1
    if(row[6]=='y'):
        row[6]=1

    if(row[2]=='n'):
        row[2]=0
    if(row[3]=='n'):
        row[3]=0
    if(row[4]=='n'):
        row[4]=0
    if(row[5]=='n'):
        row[5]=0
    if(row[6]=='n'):
        row[6]=0
    #appending 2452 list (each containing 7 things) as a row to dataframe
    to_append = row
    df_length = len(df)
    df.loc[df_length] = to_append

In [9]:
df.drop('id', axis=1, inplace=True)

In [10]:
dataset = df

In [11]:
dataset.to_csv("improved_personality_traits_datection_dataset.csv")